# Byte-compiled / optimized / URL
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environments
.venv/
env/
venv/
ENV/

# Local data & logs
data/*.log


# macOS
.DS_Store

# Secrets & Environment configs
.env
credentials/

# IDE
.idea/
.vscode/
